body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    text-align: left;
    box-shadow: 0px 10px 50px #3333332b;
}

h1 {
    text-align: center;
    margin-top: 100px;

}

#title {
    margin: 0;
    font-size: 2em;
    font-family: Serif;
    text-align: left;
    color: #426b1f;
    padding-top: 0.45em;
}

#titletohome {
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
}

header img {
    height: 50px;
    width: 50px;
    padding: 5px 5px 5px 5px;
}

nav {
    display: flex;
    padding: 10px 0;
    max-width: 800px;
    margin: auto auto;
    border-radius: 10px;
    
    
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.1s ease;
    margin-right: 5px;
    margin-left: 5px;
}

nav a:hover {
    transform: scale(1.05);
}

#loginorcreate{
    padding: 10px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 10px;
}

#loginorcreate a {
    color: #ffffff;
    font-weight: bold;
    background-color: darkgreen;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 3px #3434349b;
    margin-right: 10px;
}

#loginorcreate a:hover {
    transform: scale(0.97);
    box-shadow: 0px 0px 0px #3333332b;
}

#signupbox {
    max-width: 28.5rem;
    padding: 50px;
    background-color: #d1f0b1;
    border-radius: 10px;
    margin: auto;
}

#loginbox {
    max-width: 17rem;
    padding: 50px;
    background-color: #d1f0b1;
    border-radius: 10px;
    margin: auto;
}

input {
    margin: 10px;
    border-radius: 7px;
    border: none;
    background-color: #f2ecec;
    color: #7c7c7c;
    font-size: medium;
    padding: 5px;
}

#confirm {
    color: #ffffff;
    font-weight: bold;
    background-color: darkgreen;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 3px #3434349b;
    margin-left: 25rem;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

#login {
    color: #ffffff;
    font-weight: bold;
    background-color: darkgreen;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 3px #3434349b;
    margin-left: 15rem;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

#confirm:hover {
    transform: scale(0.97);
    box-shadow: 0px 0px 0px #3333332b;
}

#login:hover {
    transform: scale(0.97);
    box-shadow: 0px 0px 0px #3333332b;
}

#accountverifytext {
    font-weight: 500;
    margin: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #fafafa;
    color: #333;
}

