<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification - GrabGrub</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/GrabGrub.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="index.html" id="titletohome">
            <img src="GrabGrub.png" alt="GrabGrub Logo">
            <h1 id="title">GrabGrub</h1>
        </a>
        <nav id="loginorcreate">
            <a href="login.html">Login</a>  
        </nav>
    </header>
    <h1>Account Verification</h1>
    <br>
    <div id="signupbox">
        <h2 id="accountverifytext">Please verify your account by clicking verification link sent to xxxxx@gmail.com</h2>
        <a href="login.html" id="confirm">Continue to Login</a>
    </div>
</body>
</html>